# Sales Analysis

### Setup Environment

#### Import necessary libraries

In [1]:
import os
import pandas as pd

#### Merge data from each month into one CSV file

In [6]:
path = "./Sales_Data"
files = [file for file in os.listdir(path) if not file.startswith('.')] # Ignore hidden files

all_months_data = pd.DataFrame()

for file in files:
    current_data = pd.read_csv(path + "/" + file)
    all_months_data = pd.concat([all_months_data, current_data])
    
all_months_data.to_csv("sales_data_in_2019.csv", index=False)

### Business Understanding
In this project, we use sales data created in a whole year of 2019.
Each row of the data represents an order. We can see the first column, "Order ID", as the identifier of each sales. We will analyze this dataset to answer 5 business questions.

#### Business Questions
1. What was the best month for sales? How much was earned that month?
2. What city sold the most product?
3. What time should we display advertisemens to maximize the likelihood of customerâ€™s buying product?
4. What products are most often sold together?
5. What product sold the most? Why do you think it sold the most?

### Data Understanding
This sales dataset consists of 6 variables/features.
1. Order ID: id of each sales order
2. Product: the product name
3. Quantity Ordered: the quantity ordered
4. Price Each: the price for each order
5. Order Date: the date when the order was taken
6. Purchase Order: the destination address of the order

#### Read dataframe

In [7]:
df = pd.read_csv("sales_data_in_2019.csv")
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [9]:
# data dimension
df.shape

(186850, 6)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 4.3+ MB

In [12]:
# get the basic descriptive statistics of the dataset
df.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

### Data Cleaning
We can do 3 tasks for cleaning our data:
1. Drop NaN values from dataframe
2. Removing rows based on a condition
3. Change the type of columns based on needs

#### Task 1. Drop NaN values from dataframe